<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Over+the+Rainbow&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet/css/output.css"> 
  <link rel="stylesheet" href="/stylesheet/css/foundation.css">
  <link rel="stylesheet" href="/stylesheet/css/app.css">
  <link rel="stylesheet" href="/stylesheet/css/style.css">
</head>

<body>
      <header>
         <nav class="hover-underline-menu underline-from-center">
            <ul class="menu align-center">
              {{#if loggedIn}}
                <li id="logout">Logout</li>
              {{else}}
                <li><a href="/login">Log In</a></li>
              {{/if}}
            </ul>
        </nav>
        <div class="grid-x grid-padding-x">
          <div class="large-12 cell">
            <div class="hero-section">
                  <h1 class="hero-opacity hero-text">BUT YOU'LL BE </br> SORRY YOU ASKED</h1>
                  <h2 class="hero-title hero-text">I'll Be Honest...</h2>

                </div>
            </div>
           </div>
        </div>
      </header>
    <main>
        {{{ body }}}
        </main>
        <footer>
        Thanks for joining the roast! Hope it was toasty!
        </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

<!-- Scripts -->
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/vendor/foundation.min.js"></script>
    <script src="/js/vendor/foundation.reveal.js"></script>
    <script src="/js/app.js"></script>     
</body>

</html>