<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Over+the+Rainbow&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/css/output.css"> 
    <link rel="stylesheet" href="/stylesheet/css/style.css">
  </head>

<body>
      <header>
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
           <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              {{#if loggedIn}}
                <li class="nav-item nav-link" id="logout">Logout</li>
              {{else}}
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a>
                </li>
              {{/if}}
            </ul>
            </div>
          </nav>
        <!-- Jumbotron-->
        <div class="grid-x grid-padding-x">
          <div class="large-12 cell">
            <div class="hero-section">
                  <h1 class="hero-opacity hero-text">BUT YOU'LL BE </br> SORRY YOU ASKED</h1>
                  <h2 class="hero-title hero-text">I'll Be Honest...</h2>

                </div>
            </div>
           </div>
        </div>
      </header>
    <main>
        {{{ body }}}
        </main>
        <footer>
        </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

<!-- Scripts -->
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/vendor/foundation.min.js"></script>
    <script src="/js/vendor/foundation.reveal.js"></script>
    <script src="/js/app.js"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> 
</body>

</html>