
 
<form class="form-signin login-form" >
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="email-login" class="form-control" placeholder="Email address">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="password-login" class="form-control" placeholder="Password">
  <button class="btn btn-lg btn-primary btn-block submit" type="submit">Sign in</button>
</form>

<form class="form-signin signup-form" >
  <h1 class="h3 mb-3 font-weight-normal">Create an Account</h1>
  <label for="usernameInput" class="sr-only">Username</label>
  <input type="name" id="username-signup" class="form-control" placeholder="Username">
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="email-signup" class="form-control" placeholder="Email address">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="password-signup" class="form-control" placeholder="Password">
  <button class="btn btn-lg btn-primary btn-block submit" type="submit">Ready to Roast!</button>
</form>

<script src="/javascript/login.js"></script>