
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'll Be Honest</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="./public/stylesheet/css/output.css"> 
    <link rel="stylesheet" href="./public/stylesheet/css/foundation.css">
    <link rel="stylesheet" href="./public/stylesheet/css/app.css">
    <link rel="stylesheet" href="./public/stylesheet/css/style.css">
  </head>
<body>
<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
        <div class="Log-In">
            <p>Please log in</p>
            <button class='Log-In' data-open="login">Login</button>
            <div class='reveal' id="login" data-reveal>
                <!--Login Data Goes In here-->
            </div>
        </div>
        <br>
            <div class="Sign-Up">
            <p>Or create a new account</p>
            <button class='Sign-Up' data-open="signup">Create Account</button>
            <div class='reveal' id='signup' data-reveal>
                <!--Signup Data goes in here-->
            </div>
        </div>
</div>
</div>
</body>
</html>
